* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.main-container{
  border: solid black 1px;
  padding: 85px 45px;
  display: flex;
}

.control-container {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  gap: 15px;
}

.message{
  height: 20px;
}

.invisible{
  display: none;
}

.visible {
  display: block;
}

